<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css' rel='stylesheet' />
    <link rel='shortcut icon' type='image/png' href='{{ STATIC_URL }}img/loading.gif' />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>  -->
    <title>{% block title %}Serapis-Web{% endblock %}</title>
    <!-- The template to display files available for upload -->
	
	<script>{% block script %}{% endblock %} </script>
	
	
</head>
<body>
	<header class="page-header"><h1>Welcome to SERAPIS-WEB!</h1></header>
		
    
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
	      <!--Sidebar content-->
	      {% block side_menu %}
	      {% endblock %}
	    </div>
	    <div class="span10">
	    	<!--Body content-->
		    <div id="body-content" class="main-content">
	    		
			    <div id="sidebar">
			        {% block sidebar %}
			        <ul class="nav nav-tabs">
			            <li class="active">
			            	<a href="">Home</a>
			            </li>
			            <li>
			            	<a href="">Help</a>
			            </li>
			             <li>
			            	<a href="">About</a>
			            </li>
			        </ul>
			        {% endblock %}
			    </div>
	
			    <div id="main-content" class="main-content">
			    	{% block content %}
			    	{% endblock %}
			    </div>
			</div>
		</div>
	  </div>
	</div>   
	
    <div id="footer" class="navbar navbar-fixed-bottom">
    	{% block footer %}
    	<p>This is the footer</p>
    	{% endblock %}
    </div>
</body>
</html>