{% extends "base.html" %}

{% block title %}Serapis-Web Home{% endblock %}
{% block script %}
	function validateForm(){
	    var uname = document.forms["userID"]["username"].value;
	    //if(uname==null || uname=="")
	    if(uname==null
	    {
	      alert("Username or pass empty!")
	      return false;
	    }
	    return true;
	 }

{% endblock %}

{% block content %}

<div class="container">
    <div class="main-content">
      <form id="user_id" action="" onsubmit="return validateForm()" method="post" class="form-horizontal">
      	<div class="control-group">
      		<label for="inputEmail" class="control-label">Username</label>
      		<div class="controls">
      			<input type="text" id="username" name="username" placeholder="Username">
      		</div>
      	</div>
      	<div class="control-group">
      		<label for="inputPassword" class="control-label">Password</label>
      			<div class="controls">
      				<input type="password" id="pass" name="password" placeholder="Password">
      			</div>
      	</div>
      	<div class="control-group">
      		<div class="controls">
      			<button id="submit" type="submit" class="btn">Sign in</button>
      		</div>
      	</div>
      </form> 
    </div>
</div>
{% endblock %}